@media (prefers-color-scheme: dark) {
   body {
      background-color: #1d1d1d;
      color: #fff;
   }
   .container {
      background-color: #292929;
   }
   input[type="number"],
   input[list] {
      border: 1px solid #555;
      background-color: #555;
      color: #fff;
   }
   button {
      background-color: #696cbb;
      color: #fff;
   }
   button:hover {
      background-color: #4f52a1;
   }
}

@media(prefers-color-scheme: light) {
   body {
      background-color: #f0f0f0;
      color: #000;
   }
   .container {
      background-color: #fff;
   }
   input[type="number"],
   input[list] {
      border: 1px solid #000;
      background-color: #fff;
      color: #000;
   }
   button {
      background-color: #4f52a1;
      color: #fff;
   }
   button:hover {
      background-color: #696cbb;
   }
}

body {
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   overflow: hidden; /* Prevent scrollbars */
}
.container {
   width: 85%;
   height: 72%;
   max-width: 400px;
   padding: 20px;
   border-radius: 8px;
   box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
   text-align: center;
}
h2 {
   margin-bottom: 15px;
}
.form-control {
   margin: 10px 0;
}
input[type="number"],
input[list] {
   padding: 5px;
   width: 80px;
   border-radius: 4px;
}
label {
   margin-right: 5px;
}
button {
   margin: 10px;
   padding: 10px 20px;
   font-size: 15px;
   cursor: pointer;
   border: none;
   border-radius: 4px;
   transition: background-color 0.3s ease;
}
#ok-button {
   color: white;
}
#ok-button:disabled {
   background-color: #777;
   cursor: not-allowed;
}
#ok-button:enabled {
   background-color: #696cbb;
}
#ok-button:hover:enabled {
   background-color: #4f52a1;
}
